@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 75px 0 100px;
}

.disabled {
  pointer-events: none;
  background: $grey-alt;
  opacity: 0.5;
}

.show_btn {
  padding: 10px 20px;
  background: $brown-dark;
  min-width: 150px;
  @include textStyle($main-font, 16px, 500, $body-background);
}
