@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

.cart_main,
.options,
.purchase {
  width: 40vw;
  min-width: 40vw;

  @media screen and (max-width: $screen-phone) {
    width: 100vw;
  }
}

.cart_main {
  background: $grey;
}

.list {
  display: flex;
  background: $grey;
  flex-direction: column;
  position: relative;
  gap: 24px;
  padding: 70px 10% 70px 5%;

  @media screen and (max-width: $screen-phone) {
    padding: 70px 5% 160px 5%;
  }
}

.options,
.purchase {
  position: fixed;
  z-index: 1111;
  display: flex;
  right: -17px;
  background: $body-background;
  align-items: center;
  height: 60px;

  @media screen and (max-width: $screen-phone) {
    right: 0;
    background: none;
  }
}

.options {
  top: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 40px 10px 0;
  background: $grey-light;

  button {
    font-size: 30px;
    background: none;
  }
  @media screen and (max-width: $screen-phone) {
    padding: 10px 5vw 10px 0;
  }
}

.purchase {
  bottom: 0;
  justify-content: center;
  gap: 10px;
  padding: 10px 30px;
  background: $grey-light;
  button {
    padding: 10px 20px;
    @include textStyle($main-font, 20px, 500, $grey-light);
    background: $brown-dark;
    white-space: nowrap;
    @media screen and (max-width: $screen-phone) {
      width: 100%;
    }
  }

  span {
    @include textStyle($main-font, 20px, 500, $brown-dark);
    margin-right: auto;
  }

  @media screen and (max-width: $screen-phone) {
    span {
      @include textStyle($main-font, 24px, 600, $brown-dark);
      margin-bottom: 5px;
      text-align: center;
      width: 100%;
    }
    flex-direction: column;
    height: fit-content;
    gap: 5px;
  }
}

.empty_cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &_text {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    @include textStyle($main-font, 35px, 500, $brown-dark);

    span {
      :last-of-type {
        font-size: 100px;
      }
    }
  }
}
