@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  justify-items: right;
  width: 100%;
  gap: 10px;

  &_main {
    width: 100%;
  }

  @media screen and (max-width: $screen-phone) {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 5px;
  }
}
