@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.links {
  display: flex;
  gap: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  a {
    @include textStyle($main-font, 16px, 400, $grey);
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1px;
  }

  .active {
    color: $white;
    font-weight: 500;
  }
}
