@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.links {
  display: flex;
  gap: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  a {
    @include textStyle($main-font, 16px, 400, $grey);
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1px;
  }

  .active {
    color: $white;
    font-weight: 500;
  }

  @media screen and (max-width: $screen-phone) {
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    transform: none;

    a {
      display: flex;
      flex-direction: column;
      &:after {
        content: "";
        display: block;
        width: 80vw;
        height: 1px;
        background: $grey-light;
        margin-top: 10px;
        transform: translateX(-10px);
      }
    }
  }
}
