@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  margin-top: 50px;
}

.info_container {
  display: flex;
  gap: 20px;
}

.img_current {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border: 1px solid black;
}

.name_pass {
}

.img_update_container {
  label {
    max-width: min(350px, 80vw);
  }
}
