@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 69px;
  background-color: $body-background;
  max-width: 100vw;
  overflow-x: hidden;

  position: relative;
  &::-webkit-scrollbar {
    background: $grey;
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #444444;
  }

  &::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border-radius: 1px;
  }
}

button {
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}
